/*
* {
    font-family: Yantramanav, Arial, Helvetica, sans-serif;
}

.subtitulo {
    font-family: 'Hind Madurai', 'Times New Roman', Times, serif;
}

h1 {
    font-family: Junge, Georgia, 'Times New Roman', Times, serif;
}

#myDiv {
    background-color: #f2f7f5;
}
#informacion-personal {
    background-color: #f2f7f5;
}
    
.subtitulo > #myDiv {
    color: #475d5b;
}
header {
    margin: 20px;
}
.educacion {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;
}*/

html, body {
    height: 100%;
    width: 100%;
  }
  
  section, article {
    border: 1px solid grey;
    border-radius: 1%;
    text-align: center
  }
  
  body {
    margin:  0;
    padding: 0;
  }
  
  nav {
    width: 100%;
    text-align: center;
    padding: 2% 0 2% 0;
  }
  
  main {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
    


        
